$sg-primary: hsla(352, 75%, 50%, 0.95);
$sg-success: hsla(135, 65%, 70%, 0.95);
$sg-failure: lighten($sg-primary, 40%);
$sg-grey: hsla(352, 0%, 50%, 0.1);
$sg-link: hsl(355, 5%, 60%);
$bg-card-head: hsl(355, 2%, 92%);
$able-purple: hsla(268, 50%, 50%, 1.0);

$blackgrey: hsl(357, 2%, 26%);
$papyrus: hsl(43, 80%, 96%);

$lightred: hsl(357, 80%, 85%);
$darkred: darken($lightred, 50%);

$lightorange: hsl(30, 80%, 90%);
$darkorange: darken($lightorange, 50%);

$lightgreen: hsl(160, 80%, 90%);
$darkgreen: darken($lightgreen, 50%);