@import 'color';
@import 'text';

#swagger-ui {
    &.api-platform {
        .info {
            .title {
                color: lighten(black, 25%);
            }
        }
        .opblock {
            &.opblock {
                &-post {
                    .opblock-summary-method {
                        background-color: hsl(135, 55%, 45%);
                    }
                }
                &-get {
                    .opblock-summary-method {
                        background-color: hsl(200, 75%, 45%);
                    }
                }
            }
        }
    }
}

.swagger-ui {
    .info {
        .title {
            font-size: 1.8rem;
            small {
                top: 0px;
                left: 5px;
            }
        }
        hgroup {
            &.main {
                margin: 0 0 18px;
            }
        }
    }
    .opblock-body {
        pre {
            background: $blackgrey;
        }
    }
    textarea {
        background: $papyrus;
    }
}

header {
    &:before {
        background-color: $able-purple;
        box-shadow: 0 1px 3px hsla(268, 50%, 50%, 0.12), hsla(268, 50%, 50%, 0.24);
    }
    #logo {
        color: white;
        text-decoration: none;
        img {
            background-color: inherit;
            height: 40px;
        }
    }
}
