{% extends 'bundles/NelmioApiDocBundle/SwaggerUi/base.html.twig' %}

{% block title %}API Doc - SG Visitor's Device{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/api-doc.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block logo_image %}
    <h2>ABLE</h2>
{% endblock %}

{% block footer %}{% endblock %}
